<%- include ("../partials/header.ejs") %>

<h2>All Reviews</h2>

<% reviews.forEach(review => { %>

  <ul>

    <li> <a href="/review/<%=review._id%>"><%= review.title %> , <%= review.reviewer.username %></a> </li>

  </ul>
<a href="/review/newReview">create</a>
<% }) %>


<%- include ("../partials/footer.ejs") %>
