<%- include ("../partials/header.ejs") %>

<h2>All Reviews</h2>

<a href="/review/addReview">create</a>


<% reviews.forEach(review => { %>



    <div> <a href="/review/<%=review._id%>"><%= review.title %> , <%= review.reviewer.username %></a>

    </div>


<% }) %>


<%- include ("../partials/footer.ejs") %>
