<%- include ("../partials/header.ejs") %>

<h2>Create New Review</h2>

<form action="/review" method="post">

  <label for="title">Title</label>
  <input type="text" name="title" placeholder="Title" class="form-input" id="title" required />

  <label for="paragraph">Review</label>
  <textarea name="paragraph" placeholder="Description" class="form-input" style="height: 40px; border-radius: 5px; padding: 3px;" id="paragraph" required></textarea>

  <label for="rating">Rating out of 5</label>
  <input type="number" name="rating" placeholder="Rating" class="form-input" id="rating" min="0" max="5" required />

  <input type="hidden" name="reviewer" value="<%= user._id %>" class="form-input" required />

  <label for="phone">Phone</label>
  <select name="phone" class="form-input" style="height: 40px; border-radius: 5px; padding: 3px;" id="phone" required>
    <!-- <option value="">2</option> -->
    <% phones.forEach(phone => { %>
      <option value="<%= phone._id %>"> <%= phone.name %> </option>
  <%  }) %>
  </select>
  <button type="submit" class="form-btn">Create</button>
</form>
<%- include ("../partials/footer.ejs")%>
