<%- include ("../partials/header.ejs") %>

<h2><%= review.title %></h2>
<p><%= review.phone %></p>
<p><%= review.paragraph %></p>
<p><%= review.rating %></p>
<p><%= review.reviewer.username %></p>

<% if (user._id === review.reviewer._id.toString()) { %>

<form action="/review/<%= review._id %>/edit">
  <button>Edit</button>
</form>

<form action="/review/<%= review._id %>?_method=DELETE" method="POST">
  <button type="submit">Delete</button>
</form>

<% } %>


<%- include ("../partials/footer.ejs") %>
