<%- include ("../partials/header.ejs") %>

<h2><%= user.firstName %> <%= user.lastName %> Profile </h2>


<div>
  <a href=<%= `/auth/${user._id}/updatePassword` %>>Update Password</a>
</div>

<h3>Reviews:</h3>

  <% user.reviews.forEach(review => { %>
    <div><a href="/review/<%= review._id %>"><%= review.title %></a></div>
  <% }) %>


<%- include ("../partials/footer.ejs")%>
