<%- include ("../partials/header.ejs") %>

<h2><%= user.firstName %> <%= user.lastName %> Profile </h2>


<div>
  <a href=<%= `/auth/${user._id}/updatePassword` %> class="view-btn">Update Password</a>
</div>

<h3>Reviews</h3>

<div class="container">
  <% user.reviews.forEach(review => { %>
    <a href="/review/<%= review._id %>"> <div class="review-card"><%= review.title %></div></a>
  <% }) %>
</div>

<%- include ("../partials/footer.ejs")%>
